---
layout: page
title: Archives
permalink: /archives/
---

<div class="home">
	{% for category in site.categories %}
	{% capture cat %}{{ category | first }}{% endcapture %}

	<h2>{{ cat | capitalize }}</h2>
		<ul class="post-list">
		{% for post in site.categories[cat] %}
		  <li>
		  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
			 <span class="post-date">
				{% assign m = post.date | date: "%-m" %}
				{{ post.date | date: "%-d" }}
				{% case m %}
				  {% when '1' %}Janvier
				  {% when '2' %}Février
				  {% when '3' %}Mars
				  {% when '4' %}Avril
				  {% when '5' %}Mai
				  {% when '6' %}Juin
				  {% when '7' %}Juillet
				  {% when '8' %}Août
				  {% when '9' %}Septembre
				  {% when '10' %}Octobre
				  {% when '11' %}Novembre
				  {% when '12' %}Décembre
				{% endcase %}
				{{ post.date | date: "%Y" }}
			 </span>
		  </li>

			{% if post.tags %}
			<div class="post-tags">
				{% for tag in post.tags %}
				<span class="post-tag">#{{ tag }}</span>
				{% endfor %}
			</div>
			{% endif %}

		{% endfor %}

		</ul>

	{% endfor %}
</div>
