<head>
  {% include analytics.html %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Philaeux - {{ page.title }}</title>
  <meta name="description" content="Blog personnel">
  <meta name="author" content="Vincent 'Philaeux' Lamotte">


  <link rel="shortcut icon" type="image/png" href="/assets/favicon.png">
  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml" />

</head>
