Use the name to start a sound as a message of the "Play Sound" reward. 

<ul>
<li>Admiralbulldog Community](#admiralbulldog_community)
</li><li>[Age Of Empires](#age_of_empires)
</li><li>[Animals](#animals)
</li><li>[Anime](#anime)
</li><li>[Darkest Dungeon](#darkest_dungeon)
</li><li>[Diablo](#diablo)
</li><li>[Dota](#dota)
</li><li>[Independence Day](#independence_day)
</li><li>[James Bond](#james_bond)
</li><li>[Kaamelott](#kaamelott)
</li><li>[Matrix](#matrix)
</li><li>[Oss 117](#oss_117)
</li><li>[South Park](#south_park)
</li><li>[South Park Fr](#south_park_fr)
</li><li>[Star Wars](#star_wars)
</li><li>[The Lord Of The Rings](#the_lord_of_the_rings)
</li><li>[Various](#various)
</li><li>[Various Fr](#various_fr)
</li><li>[Warcraft](#warcraft)
</li></ul>

<h2 #admiralbulldog_community>Admiralbulldog Community <a name="admiralbulldog_community"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/archass.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; archass
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/archbalanced.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; archbalanced
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/archincest.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; archincest
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/archweeb.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; archweeb
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/badboy.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; badboy
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/gooddesign.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; gooddesign
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/mywife.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; mywife
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/permaban.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; permaban
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/sniffa.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; sniffa
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/stayhome.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; stayhome
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/admiralbulldog_community/suckadick.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; suckadick
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Age Of Empires  <a name="age_of_empires"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/2h.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; 2h
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/aoe_no.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; aoe no
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/aoe_yes.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; aoe yes
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/food_please.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; food please
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/king_losers.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; king losers
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/other_guy.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; other guy
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/raid.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; raid
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/start.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; start
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/to_be_king.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; to be king
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/age_of_empires/wololo.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; wololo
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Animals  <a name="animals"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/animals/cow.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; cow
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/animals/dolphin.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; dolphin
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/animals/monkey.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; monkey
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Anime  <a name="anime"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/anime/ayaya.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ayaya
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/anime/dingdong.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; dingdong
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/anime/nani.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; nani
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/anime/nyaa.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; nyaa
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/anime/ohaiyo.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ohaiyo
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/anime/shindeiru.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; shindeiru
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/anime/tutturu.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; tutturu
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/anime/wakuwaku.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; wakuwaku
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Darkest Dungeon  <a name="darkest_dungeon"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/darkest_dungeon/beyond_ones_limit.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; beyond ones limit
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/darkest_dungeon/chaos.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; chaos
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/darkest_dungeon/confusion.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; confusion
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/darkest_dungeon/heroism.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; heroism
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/darkest_dungeon/life_is_taken.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; life is taken
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/darkest_dungeon/overconfidence.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; overconfidence
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/darkest_dungeon/test.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; test
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/darkest_dungeon/will_to_fight.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; will to fight
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Diablo  <a name="diablo"></a>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/all_the_knowledge.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; all the knowledge
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/audience.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; audience
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/away_demon.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; away demon
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/blood_is_the_key.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; blood is the key
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/call_her_home.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; call her home
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/call_thee_home.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; call thee home
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/choice.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; choice
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/come_forth.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; come forth
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/ends_with_you.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ends with you
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/fools.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fools
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/forbidden.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; forbidden
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/gate.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; gate
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/hungry.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hungry
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/it_is_done.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; it is done
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/knowledge.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; knowledge
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/legacy.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; legacy
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/made_it_back.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; made it back
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/made_right.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; made right
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/old_tired.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; old tired
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/open_your_eyes.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; open your eyes
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/please.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; please
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/satisfy_heavens.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; satisfy heavens
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/shameful.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; shameful
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/speak_the_words.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; speak the words
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/surrender.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; surrender
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/tell_me.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; tell me
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/time_for_it.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; time for it
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/time_to_let_go.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; time to let go
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/whatever_the_cost.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; whatever the cost
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/what_are_you_after.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; what are you after
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/what_more.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; what more
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/wise_words.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; wise words
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/words_save.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; words save
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/worth_it.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; worth it
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/diablo/you_deceived_me.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; you deceived me
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Dota  <a name="dota"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/7m.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; 7m
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/agent_chaos.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; agent chaos
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/ams.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ams
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/beams.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; beams
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/burn_body.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; burn body
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/chaos_expands.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; chaos expands
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/chaos_reign.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; chaos reign
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/chaos_spreads.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; chaos spreads
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/creation_order.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; creation order
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/death_follow.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; death follow
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/demon_witch.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; demon witch
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/dendi.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; dendi
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/dingding.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; dingding
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/dodge_this.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; dodge this
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/ephey.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ephey
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/feeling_good.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; feeling good
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/fire_world.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fire world
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/fogged.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fogged
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/hell.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hell
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/history.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; history
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/horse_shit.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; horse shit
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/hurt_love.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hurt love
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/ice.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ice
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/jugg_bitch.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; jugg bitch
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/king_arrives.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; king arrives
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/knight.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; knight
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/lakad.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; lakad
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/legion_comes.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; legion comes
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/lina.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; lina
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/long_live.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; long live
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/look_at_it.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; look at it
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/lycan2u.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; lycan2u
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/many_earth.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; many earth
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/merp.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; merp
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/mysteries.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; mysteries
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/noob_pley_dota.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; noob pley dota
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/pain_gain.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; pain gain
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/pew.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; pew
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/primordial.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; primordial
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/purge.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; purge
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/resist.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; resist
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/self.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; self
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/shall_not.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; shall not
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/slacks.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; slacks
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/spark.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; spark
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/strong_arm.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; strong arm
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/unite.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; unite
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/useyourmidas.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; useyourmidas
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/way.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; way
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/wd_song.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; wd song
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/dota/welcome.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; welcome
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Independence Day  <a name="independence_day"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/independence_day/accurate.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; accurate
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/independence_day/close_encounter.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; close encounter
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/independence_day/map.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; map
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/independence_day/mother.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; mother
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/independence_day/pleasure.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; pleasure
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/independence_day/point.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; point
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/independence_day/sir.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; sir
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/independence_day/welcome_to_earth.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; welcome to earth
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> James Bond  <a name="james_bond"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/james_bond/die.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; die
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/james_bond/talk.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; talk
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Kaamelott  <a name="kaamelott"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/c'est_la_guerre.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; c'est la guerre
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/c'est_pas_faux.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; c'est pas faux
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/details.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; details
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/ebaubir.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ebaubir
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/faut_ce_qui_faut.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; faut ce qui faut
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/fleches.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fleches
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/fondue.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fondue
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/gros_nul.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; gros nul
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/gueuler_comme_un_con.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; gueuler comme un con
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/je_vois_trouble.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; je vois trouble
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/joie_de_vivre.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; joie de vivre
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/mais_tout_a_fait.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; mais tout a fait
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/merde.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; merde
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/pute.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; pute
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/reposer.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; reposer
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/revolte.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; revolte
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/kaamelott/volette.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; volette
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Matrix  <a name="matrix"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/answered_question.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; answered question
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/bourgeois.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; bourgeois
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/bullet_gun.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; bullet gun
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/causality.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; causality
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/choice_illusion.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; choice illusion
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/congratulations.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; congratulations
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/dead_end.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; dead end
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/deja_vou.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; deja vou
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/deleted.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; deleted
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/dodge_this2.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; dodge this2
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/dreaming.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; dreaming
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/end.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; end
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/faster.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; faster
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/for_a_time.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; for a time
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/free.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; free
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/free_your_mind.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; free your mind
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/game.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; game
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/good_bad.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; good bad
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/hard_2_believe.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hard 2 believe
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/holy_shit.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; holy shit
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/human.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; human
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/human_being.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; human being
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/impossible.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; impossible
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/interesting.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; interesting
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/kungfu.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; kungfu
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/not_possible.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; not possible
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/pgrades.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; pgrades
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/prophecy_lie.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; prophecy lie
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/right.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; right
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/rules.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; rules
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/see_neo.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; see neo
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/skill.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; skill
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/still_here.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; still here
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/surprised.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; surprised
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/truth.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; truth
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/matrix/why.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; why
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Oss 117  <a name="oss_117"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/oss_117/biscotte.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; biscotte
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/oss_117/france_resistante.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; france resistante
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/oss_117/la_france.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; la france
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/oss_117/piquette.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; piquette
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/oss_117/polish.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; polish
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/oss_117/voiture_propre.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; voiture propre
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/oss_117/vu.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; vu
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> South Park  <a name="south_park"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park/i_member.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; i member
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park/nazy_germany.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; nazy germany
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park/pajama.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; pajama
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park/timmy.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; timmy
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> South Park Fr  <a name="south_park_fr"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/alerte_au_gogol.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; alerte au gogol
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/biere.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; biere
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/bonjour.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; bonjour
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/donne.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; donne
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/droguer.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; droguer
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/infirme.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; infirme
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/menace.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; menace
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/mongols.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; mongols
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/quua.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; quua
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/ton_genre.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ton genre
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/tuer.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; tuer
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/south_park_fr/zgeg.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; zgeg
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Star Wars  <a name="star_wars"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/star_wars/anakin.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; anakin
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/star_wars/chewbacca.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; chewbacca
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/star_wars/hello_there.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hello there
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/star_wars/i_done.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; i done
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/star_wars/lightsaber.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; lightsaber
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/star_wars/noo.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; noo
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/star_wars/order_66.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; order 66
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/star_wars/senate.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; senate
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> The Lord Of The Rings  <a name="the_lord_of_the_rings"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/2_the_end.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; 2 the end
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/anor.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; anor
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/balrog.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; balrog
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/burns.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; burns
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/cave_troll.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; cave troll
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/changed.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; changed
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/fallen.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fallen
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/fly.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fly
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/foe.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; foe
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/hawk_fox.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hawk fox
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/leave.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; leave
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/lost.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; lost
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/memory.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; memory
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/nooo.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; nooo
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/not_pass.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; not pass
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/one_ring.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; one ring
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/precious.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; precious
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/serve.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; serve
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/shadow.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; shadow
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/step.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; step
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/time_given.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; time given
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/udun.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; udun
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/unite_fall.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; unite fall
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/the_lord_of_the_rings/wizard_late.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; wizard late
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Various  <a name="various"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/bazinga.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; bazinga
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/blablabla.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; blablabla
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/boom.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; boom
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/bruh.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; bruh
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/cha.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; cha
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/chicky.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; chicky
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/coffin_dance.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; coffin dance
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/damn.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; damn
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/deja_vu.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; deja vu
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/discord.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; discord
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/dont_give_up.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; dont give up
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/entertained.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; entertained
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/falcon_punch.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; falcon punch
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/fbi.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fbi
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/french.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; french
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/fucked_up.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fucked up
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/gasp.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; gasp
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/hadouken.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hadouken
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/here_we_go_again.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; here we go again
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/just_do_it.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; just do it
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/kamehameha.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; kamehameha
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/killed_people.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; killed people
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/la.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; la
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/laught.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; laught
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/lazor.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; lazor
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/listen.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; listen
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/msn.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; msn
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/msn_wizz.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; msn wizz
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/nope.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; nope
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/no_god.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; no god
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/oh_no.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; oh no
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/oof.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; oof
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/run.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; run
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/shut_up.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; shut up
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/sorry.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; sorry
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/sparta.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; sparta
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/steam_chat.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; steam chat
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various/violin_goat.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; violin goat
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Various Fr  <a name="various_fr"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/ah.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ah
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/ah_bon.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ah bon
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/chasseur.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; chasseur
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/coco.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; coco
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/hein.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hein
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/interessant.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; interessant
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/j'adore_rire.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; j'adore rire
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/on_a_faim.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; on a faim
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/que_se_passe.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; que se passe
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/roi_de_la_fronce.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; roi de la fronce
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/sacrebleu.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; sacrebleu
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/sarko_civ.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; sarko civ
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/various_fr/violent.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; violent
</li><a href="#" class="backlogo">&#x25B2;</a>

<h2> Warcraft  <a name="warcraft"></a></h2>

<li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/4_alliance.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; 4 alliance
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/4_horde.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; 4 horde
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/answer.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; answer
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/ask.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; ask
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/baby_murloc.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; baby murloc
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/bwonsamdi.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; bwonsamdi
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/challenge.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; challenge
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/coming.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; coming
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/cornered.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; cornered
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/darkness.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; darkness
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/destiny.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; destiny
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/destiny2.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; destiny2
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/drums_of_war.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; drums of war
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/eyes.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; eyes
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/fate.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fate
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/fighting_4.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; fighting 4
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/forgotten.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; forgotten
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/freedom.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; freedom
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/frostmourne.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; frostmourne
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/good.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; good
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/hide.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hide
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/humility.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; humility
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/hunt.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; hunt
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/light.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; light
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/murloc.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; murloc
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/never_serve.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; never serve
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/nothing.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; nothing
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/over.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; over
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/power.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; power
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/prepared.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; prepared
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/prison.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; prison
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/queen.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; queen
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/scars.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; scars
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/shame.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; shame
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/times_change.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; times change
</li><li>&nbsp; <audio controls preload="none"><source src="/static/sounds/warcraft/u_done.opus" type="audio/ogg; codecs=opus"></audio>&nbsp; u done
</li><a href="#" class="backlogo">&#x25B2;</a>
