
<div class="sound-tutorial"><h1>Play one of these sound effects on my Twitch stream</h1></div>

<div class="sound-tutorial">
    <img src="/static/img/sounds.webp">
</div>

@for(category of sounds.list; track $index) {
    <h2>{{capitalizeName(category.name)}}</h2>
    <div class="sound-list">
    @for(sound of category.sounds; track $index) {
        <div class="sound-item">
            <audio controls preload="none"><source src="/static/sounds/{{category.name}}/{{sound}}.opus" type="audio/ogg; codecs=opus"></audio>
            <div class="sound-id">{{idToName(sound)}}</div>
        </div>
    }
    </div>
}

