.sound-tutorial{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.sound-list{
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    justify-content: space-between;
}

.sound-item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
}

.sound-id {
    min-width: 130px;
}
