---
---
@charset "utf-8";

// RESET
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, figure, figcaption {
    margin: 0px;
    padding: 0px;
    border: 0px;
    outline: 0px;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

$fonts: 'Open Sans', sans-serif;
$title-fonts: 'Roboto', sans-serif;

html {
    background-color: #F5F5F5;
    font-family: $fonts;
    overflow-y: scroll;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    position: relative;
    width: 100%;
    text-align: center;
}

.header-image {
    width: 8.5em;
}

footer {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

footer a, footer a:visited {
    color: #0000A8;
}

.content {
    background-color: white;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.6;
    font-size: 1.3em;
}


@media only screen and (min-width: 960px) {
    .content {
        width: 960px;
    }
}


.post-list {
    list-style-type: none;
}

.post-title-date {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 450px) {
    .post-title-date {
        flex-wrap: nowrap;
    }
}

.post-list-title {
    flex-shrink: 1;
    flex-grow: 1;
}

.post-list-title a, .post-list-title a:visited {
    color: #A80000;
}

.post-list-date {
    flex-shrink: 0;
    flex-grow: 0;
    font-style: italic;
}

.post-description {
    padding-bottom: 1.5em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: justify;
}

.post-title {
    width: 100%;
    font-size: 1.7em;
    text-align: center;
    color: #A80000;

}

.post-date {
    font-style: italic;
    width: 100%;
    text-align: right;
    padding-bottom: 1.5em;
}

.post-content p {
    text-align: justify;
    text-indent: 3em;
    margin-bottom: 0.7em;
    margin-left: auto;
    margin-right: auto;
}

.post-content-poetry p {
    text-align: justify;
    margin-bottom: 0.7em;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 800px) {
    .post-content p, .post-content-poetry p {
        width: 800px;
    }
}

.post-content h3, .post-content-poetry h3 {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    text-align: center;
    color: #A80000;
    font-style: italic;
}

.post-content a, .post-content-poetry a {
    color: blue;
}

.post-back {
    text-align: right;
    font-size: 0.7em;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-right: 1em;
}

.post-back a {
    color: #0000A8;
}

.post-content table {
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

.post-content table, .post-content th, .post-content td {
  border: 1px solid black;
  padding: 0.1em 0.1em 0.1em 0.1em;
}


.post-content th {
    text-align: center;
}

.post-content td {
    text-align: right;
}

ul {
    padding-left: 80px;
    padding-right: 80px;
	list-style-type:none;
}

audio {
	vertical-align: middle;
}

.backlogo {
	text-align: center;
	display: block;
}
