@use "@angular/material" as mat;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    background-color: #0d1117;
    color: #c9d1d9;
}

@include mat.elevation-classes();
@include mat.app-background();

$theme: mat.define-theme((color: (theme-type: dark,
                primary: mat.$cyan-palette,
                tertiary: mat.$orange-palette,
            ),
            density: (scale: 0,
            )));

html {
    @include mat.all-component-themes($theme);
}

.markdown-generated h1 {
    text-align: center;
    font-size: xxx-large;
    font-weight: 300;
}

.markdown-generated p {
    text-align: justify;
    text-indent: 80px;
    font-size: x-large;
    font-weight: 300;
}

.markdown-generated h2 {
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
    font-style: italic;
}

a { color: inherit; } 
