.article-list {
    display: flex;
    flex-direction: column;
    line-height: 1.5em;
    font-weight: 400;
    font-size: x-large;
}

.article-list-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 24px;
}